# DagsHub / MLflow Configuration
MLFLOW_TRACKING_URI=https://dagshub.com/RichardMan13/Petrodora-AI.mlflow
MLFLOW_TRACKING_USERNAME=RichardMan13
MLFLOW_TRACKING_PASSWORD=your_token_here

# Open WebUI
WEBUI_SECRET_KEY=troque-por-uma-chave-segura

# API Keys (opcional — usado pelo synth_generator.py para Data Augmentation)
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=

# Hardware Optimization
# KV Cache: use 2048 para hardware com 4GB VRAM
OPTIMIZED_NUM_CTX=2048

# Project Paths
RAW_DATA_PATH=./data/raw
PROCESSED_DATA_PATH=./data/processed
FEEDBACK_LOGS_PATH=./feedback/logs
